name: CI

on:
  pull_request:

permissions:
  pull-requests: write
  checks: write
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    name: Tests
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "24"
          cache: "npm"

      - name: Deps installation
        run: npm ci

      - name: Bundle code
        run: npm run build

      - name: Test
        run: npm test
        continue-on-error: true

      - name: Test Allure Action
        uses: ./
        with:
          report-directory: "./out/allure-report"
          github-token: ${{ secrets.GITHUB_TOKEN }}
