name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  pull-requests: write
  checks: write
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    name: Unit tests
    env:
      ALLURE_SERVICE_ACCESS_TOKEN: ${{ secrets.ALLURE_SERVICE_ACCESS_TOKEN }}
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build TypeScript
        run: npm run build

      - name: Run tests
        run: npm test
        continue-on-error: true

      - name: Run Allure Action
        uses: ./
        with:
          report-directory: "./out/allure-report"
          github-token: ${{ secrets.GITHUB_TOKEN }}
